# Ð—Ð°Ð´Ð°Ñ‡Ð° Ð¼ÑÑ‚Ñ‡Ð¸Ð½Ð³Ð° Ñ‚Ð¾Ð²Ð°Ñ€Ð¾Ð²

**Ð¦ÐµÐ»Ð¸ Ð¸ÑÑÐ»ÐµÐ´Ð¾Ð²Ð°Ð½Ð¸Ñ:**  
  
Ð”Ð»Ñ ÐºÐ°Ð¶Ð´Ð¾Ð³Ð¾ Ñ‚Ð¾Ð²Ð°Ñ€Ð° Ð¼Ð°Ð³Ð°Ð·Ð¸Ð½Ð° Ð½Ð°Ð¹Ñ‚Ð¸ Ð¾Ð´Ð¸Ð½ Ð¸Ð»Ð¸ Ð½ÐµÑÐºÐ¾Ð»ÑŒÐºÐ¾ Ð¾Ð±ÑŠÐµÐºÑ‚Ð¾Ð² Ð¸Ð· Ð°ÑÑÐ¾Ñ€Ñ‚Ð¸Ð¼ÐµÐ½Ñ‚Ð° Ð¼Ð°Ð³Ð°Ð·Ð¸Ð½Ð°-ÐºÐ¾Ð½ÐºÑƒÑ€ÐµÐ½Ñ‚Ð°, ÐºÐ¾Ñ‚Ð¾Ñ€Ñ‹Ðµ Ð±Ð»Ð¸Ð·ÐºÐ¸ Ðº Ð½ÐµÐ¼Ñƒ Ð¿Ð¾ Ð½ÐµÐºÐ¾Ñ‚Ð¾Ñ€Ð¾Ð¹ Ð·Ð°Ð´Ð°Ð½Ð½Ð¾Ð¹ Ð¼ÐµÑ‚Ñ€Ð¸ÐºÐµ. 

**Ð—Ð°Ð´Ð°Ñ‡Ð°:**
  
Ð Ð°Ð·Ñ€Ð°Ð±Ð¾Ñ‚Ð°Ñ‚ÑŒ Ð¼Ð¾Ð´ÐµÐ»ÑŒ Ð´Ð»Ñ Ð¼ÐµÑ‚Ñ‡Ð¸Ð½Ð³Ð° Ñ‚Ð¾Ð²Ð°Ñ€Ð¾Ð² Ð² ÑÐ¾Ð¾Ñ‚Ð²ÐµÑ‚ÑÑ‚Ð²Ð¸Ð¸ Ñ Ñ‚Ñ€ÐµÐ±ÑƒÐµÐ¼Ð¾Ð¹ Ð¼ÐµÑ‚Ñ€Ð¸ÐºÐ¾Ð¹.
- Ñ€Ð°Ð·Ñ€Ð°Ð±Ð¾Ñ‚Ð°Ñ‚ÑŒ Ð°Ð»Ð³Ð¾Ñ€Ð¸Ñ‚Ð¼, ÐºÐ¾Ñ‚Ð¾Ñ€Ñ‹Ð¹ Ð´Ð»Ñ Ð²ÑÐµÑ… Ñ‚Ð¾Ð²Ð°Ñ€Ð¾Ð² Ð¼Ð°Ð³Ð°Ð·Ð¸Ð½Ð° Ð¿Ñ€ÐµÐ´Ð»Ð¾Ð¶Ð¸Ñ‚ Ð½ÐµÑÐºÐ¾Ð»ÑŒÐºÐ¾ Ð²Ð°Ñ€Ð¸Ð°Ð½Ñ‚Ð¾Ð² Ð½Ð°Ð¸Ð±Ð¾Ð»ÐµÐµ Ð¿Ð¾Ñ…Ð¾Ð¶Ð¸Ñ… Ñ‚Ð¾Ð²Ð°Ñ€Ð¾Ð² Ð¸Ð· Ð°ÑÑÐ¾Ñ€Ñ‚Ð¸Ð¼ÐµÐ½Ñ‚Ð° Ð¼Ð°Ð³Ð°Ð·Ð¸Ð½Ð°-ÐºÐ¾Ð½ÐºÑƒÑ€ÐµÐ½Ñ‚Ð°;
- Ð¾Ñ†ÐµÐ½Ð¸Ñ‚ÑŒ ÐºÐ°Ñ‡ÐµÑÑ‚Ð²Ð¾ Ð°Ð»Ð³Ð¾Ñ€Ð¸Ñ‚Ð¼Ð° Ð¿Ð¾ Ð¼ÐµÑ‚Ñ€Ð¸ÐºÐµ accuracy@5

  
**ÐŸÐ»Ð°Ð½ Ñ€Ð°Ð±Ð¾Ñ‚Ñ‹:**
  
- Ð·Ð°Ð³Ñ€ÑƒÐ·Ð¸Ñ‚ÑŒ Ð¸ Ð¸Ð·ÑƒÑ‡Ð¸Ñ‚ÑŒ Ð¿Ñ€ÐµÐ´ÑÑ‚Ð°Ð²Ð»ÐµÐ½Ð½Ñ‹Ðµ Ð´Ð°Ð½Ð½Ñ‹Ðµ;
- Ð¿Ñ€Ð¾Ð²ÐµÑÑ‚Ð¸ Ð½ÐµÐ¾Ð±Ñ…Ð¾Ð´Ð¸Ð¼ÑƒÑŽ Ð¿Ñ€ÐµÐ´Ð¾Ð±Ñ€Ð°Ð±Ð¾Ñ‚ÐºÑƒ Ð´Ð°Ð½Ð½Ñ‹Ñ…;
- Ð¿Ñ€Ð¾Ð²ÐµÑÑ‚Ð¸ Ð¸ÑÑÐ»ÐµÐ´Ð¾Ð²Ð°Ñ‚ÐµÐ»ÑŒÑÐºÐ¸Ð¹ Ð°Ð½Ð°Ð»Ð¸Ð· Ð´Ð°Ð½Ð½Ñ‹Ñ…;
- Ð¿Ñ€Ð¾Ð²ÐµÑÑ‚Ð¸ ÐºÐ¾Ñ€Ñ€ÐµÐ»ÑÑ†Ð¸Ð¾Ð½Ð½Ñ‹Ð¹ Ð°Ð½Ð°Ð»Ð¸Ð· Ð¿Ñ€Ð¸Ð·Ð½Ð°ÐºÐ¾Ð², ÑÐ´ÐµÐ»Ð°Ñ‚ÑŒ Ð²Ñ‹Ð²Ð¾Ð´Ñ‹ Ð¾ Ð¼ÑƒÐ»ÑŒÑ‚Ð¸ÐºÐ¾Ð»Ð»Ð¸Ð½ÐµÐ°Ñ€Ð½Ð¾ÑÑ‚Ð¸ Ð¸ Ð¿Ñ€Ð¸ Ð½ÐµÐ¾Ð±Ñ…Ð¾Ð´Ð¸Ð¼Ð¾ÑÑ‚Ð¸ ÑƒÑÑ‚Ñ€Ð°Ð½Ð¸Ñ‚ÑŒ ÐµÑ‘.
- Ð²Ñ‹Ð¿Ð¾Ð»Ð½Ð¸Ñ‚ÑŒ Ð¿Ð¾Ð´Ð³Ð¾Ñ‚Ð¾Ð²ÐºÑƒ Ð¿Ñ€Ð¸Ð·Ð½Ð°ÐºÐ¾Ð² Ð² Ð¿Ð°Ð¹Ð¿Ð»Ð°Ð¹Ð½Ðµ;
- Ð²Ñ‹Ð±Ñ€Ð°Ñ‚ÑŒ Ð»ÑƒÑ‡ÑˆÑƒÑŽ Ð¼Ð¾Ð´ÐµÐ»ÑŒ Ð¸ Ð¿Ñ€Ð¾Ð²ÐµÑ€Ð¸Ñ‚ÑŒ ÐµÑ‘ ÐºÐ°Ñ‡ÐµÑÑ‚Ð²Ð¾;
- Ð¿Ñ€Ð¾Ð²ÐµÑÑ‚Ð¸ Ð°Ð½Ð°Ð»Ð¸Ð· Ð²Ð°Ð¶Ð½Ð¾ÑÑ‚Ð¸ Ð¿Ñ€Ð¸Ð·Ð½Ð°ÐºÐ¾Ð², ÑÐ´ÐµÐ»Ð°Ñ‚ÑŒ Ð²Ñ‹Ð²Ð¾Ð´Ñ‹ Ð¾Ð± Ð¸Ñ… Ð·Ð½Ð°Ñ‡Ð¸Ð¼Ð¾ÑÑ‚Ð¸;
- ÑÑ„Ð¾Ñ€Ð¼Ð¸Ñ€Ð¾Ð²Ð°Ñ‚ÑŒ Ð²Ñ‹Ð²Ð¾Ð´Ñ‹ Ð¸ Ñ€ÐµÐºÐ¾Ð¼ÐµÐ½Ð´Ð°Ñ†Ð¸Ð¸ Ð¿Ð¾ ÐºÐ°Ð¶Ð´Ð¾Ð¼Ñƒ ÑˆÐ°Ð³Ñƒ Ð¸ÑÑÐ»ÐµÐ´Ð¾Ð²Ð°Ð½Ð¸Ñ;
- ÑÑ„Ð¾Ñ€Ð¼Ð¸Ñ€Ð¾Ð²Ð°Ñ‚ÑŒ Ð¾Ð±Ñ‰Ð¸Ð¹ Ð²Ñ‹Ð²Ð¾Ð´ Ð¸ Ñ€ÐµÐºÐ¾Ð¼ÐµÐ½Ð´Ð°Ñ†Ð¸Ð¸.

**ÐšÐ°ÐºÐ¸Ð¼Ð¸ Ð´Ð°Ð½Ð½Ñ‹Ð¼Ð¸ Ñ€Ð°ÑÐ¿Ð¾Ð»Ð°Ð³Ð°ÐµÐ¼:** 
  
- `base.csv` - Ð°Ð½Ð¾Ð½Ð¸Ð¼Ð¸Ð·Ð¸Ñ€Ð¾Ð²Ð°Ð½Ð½Ñ‹Ð¹ Ð½Ð°Ð±Ð¾Ñ€ Ñ‚Ð¾Ð²Ð°Ñ€Ð¾Ð². ÐšÐ°Ð¶Ð´Ñ‹Ð¹ Ñ‚Ð¾Ð²Ð°Ñ€ Ð¿Ñ€ÐµÐ´ÑÑ‚Ð°Ð²Ð»ÐµÐ½ ÐºÐ°Ðº ÑƒÐ½Ð¸ÐºÐ°Ð»ÑŒÐ½Ñ‹Ð¹ id (0-base, 1-base, 2-base) Ð¸ Ð²ÐµÐºÑ‚Ð¾Ñ€ Ð¿Ñ€Ð¸Ð·Ð½Ð°ÐºÐ¾Ð² Ñ€Ð°Ð·Ð¼ÐµÑ€Ð½Ð¾ÑÑ‚ÑŒÑŽ 72.
- `train.csv` - Ð¾Ð±ÑƒÑ‡Ð°ÑŽÑ‰Ð¸Ð¹ Ð´Ð°Ñ‚Ð°ÑÐµÑ‚. ÐšÐ°Ð¶Ð´Ð°Ñ ÑÑ‚Ñ€Ð¾Ñ‡ÐºÐ° - Ð¾Ð´Ð¸Ð½ Ñ‚Ð¾Ð²Ð°Ñ€, Ð´Ð»Ñ ÐºÐ¾Ñ‚Ð¾Ñ€Ð¾Ð³Ð¾ Ð¸Ð·Ð²ÐµÑÑ‚ÐµÐ½ ÑƒÐ½Ð¸ÐºÐ°Ð»ÑŒÐ½Ñ‹Ð¹ id (0-query, 1-query, â€¦) , Ð²ÐµÐºÑ‚Ð¾Ñ€ Ð¿Ñ€Ð¸Ð·Ð½Ð°ÐºÐ¾Ð² Ð˜ id Ñ‚Ð¾Ð²Ð°Ñ€Ð° Ð¸Ð· base.csv, ÐºÐ¾Ñ‚Ð¾Ñ€Ñ‹Ð¹ Ð¼Ð°ÐºÑÐ¸Ð¼Ð°Ð»ÑŒÐ½Ð¾ Ð¿Ð¾Ñ…Ð¾Ð¶ Ð½Ð° Ð½ÐµÐ³Ð¾ (Ð¿Ð¾ Ð¼Ð½ÐµÐ½Ð¸ÑŽ ÑÐºÑÐ¿ÐµÑ€Ñ‚Ð¾Ð²).
- `validation.csv` - Ð´Ð°Ñ‚Ð°ÑÐµÑ‚ Ñ Ñ‚Ð¾Ð²Ð°Ñ€Ð°Ð¼Ð¸ (ÑƒÐ½Ð¸ÐºÐ°Ð»ÑŒÐ½Ñ‹Ð¹ id Ð¸ Ð²ÐµÐºÑ‚Ð¾Ñ€ Ð¿Ñ€Ð¸Ð·Ð½Ð°ÐºÐ¾Ð²), Ð´Ð»Ñ ÐºÐ¾Ñ‚Ð¾Ñ€Ñ‹Ñ… Ð½Ð°Ð´Ð¾ Ð½Ð°Ð¹Ñ‚Ð¸ Ð½Ð°Ð¸Ð±Ð¾Ð»ÐµÐµ Ð±Ð»Ð¸Ð·ÐºÐ¸Ðµ Ñ‚Ð¾Ð²Ð°Ñ€Ñ‹ Ð¸Ð· base.csv
- `validation_answer.csv` - Ð¿Ñ€Ð°Ð²Ð¸Ð»ÑŒÐ½Ñ‹Ðµ Ð¾Ñ‚Ð²ÐµÑ‚Ñ‹ Ðº Ð¿Ñ€ÐµÐ´Ñ‹Ð´ÑƒÑ‰ÐµÐ¼Ñƒ Ñ„Ð°Ð¹Ð»Ñƒ.

**Ð”Ð»Ñ Ð½Ð°Ñ‡Ð°Ð»Ð° Ð¸Ð¼Ð¿Ð¾Ñ€Ñ‚Ð¸Ñ€ÑƒÐµÐ¼ Ð±Ð¸Ð±Ð»Ð¸Ð¾Ñ‚ÐµÐºÐ¸:**

In [42]:
%%time
%%capture

# Ð¡Ñ‚Ð°Ð½Ð´Ð°Ñ€Ñ‚Ð½Ñ‹Ðµ Ð±Ð¸Ð±Ð»Ð¸Ð¾Ñ‚ÐµÐºÐ¸
import os
import re
import sys
import time
import warnings
from datetime import datetime
from math import ceil

# ÐÐ¿Ð´ÐµÐ¹Ñ‚ Ð¸ ÑƒÑÑ‚Ð°Ð½Ð¾Ð²ÐºÐ° Ð½ÐµÐ¾Ð±Ñ…Ð¾Ð´Ð¸Ð¼Ñ‹Ñ… Ð¿Ð°ÐºÐµÑ‚Ð¾Ð²
!"{sys.executable}" -m pip install -U numba
!"{sys.executable}" -m pip install numpy==1.26.4
!"{sys.executable}" -m pip install scipy==1.13.1
!"{sys.executable}" -m pip install pandas==1.4.4
!"{sys.executable}" -m pip install --upgrade scikit-learn
!"{sys.executable}" -m pip install --upgrade matplotlib
!"{sys.executable}" -m pip install --upgrade seaborn
!"{sys.executable}" -m pip install --upgrade jinja2==3.1.4
!"{sys.executable}" -m pip install catboost
!"{sys.executable}" -m pip install missingno
!"{sys.executable}" -m pip install phik
!"{sys.executable}" -m pip install shap
!"{sys.executable}" -m pip install tqdm 

# Ð¡Ñ‚Ð¾Ñ€Ð¾Ð½Ð½Ð¸Ðµ Ð±Ð¸Ð±Ð»Ð¸Ð¾Ñ‚ÐµÐºÐ¸
import matplotlib as mpl
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import phik
import seaborn as sns
import shap
from IPython.display import display, HTML
from matplotlib.axes._axes import _log as matplotlib_axes_logger
from matplotlib.ticker import MultipleLocator
import missingno as msno
from pandas.plotting import register_matplotlib_converters
from scipy import stats as st

import pyspark
from pyspark.ml import Pipeline
from pyspark.ml.evaluation import RegressionEvaluator
from pyspark.ml.feature import StringIndexer, VectorAssembler, RobustScaler, OneHotEncoder 
from pyspark.ml.stat import Correlation
from pyspark.ml.tuning import CrossValidator, ParamGridBuilder
from pyspark.ml.regression import LinearRegression

from pyspark.sql import SparkSession
import pyspark.sql.functions as F
from pyspark.sql.types import *

# # Ð‘Ð¸Ð±Ð»Ð¸Ð¾Ñ‚ÐµÐºÐ¸ scikit-learn
# from sklearn.base import BaseEstimator, TransformerMixin
# from sklearn.compose import ColumnTransformer
# from sklearn.dummy import DummyRegressor
# from sklearn.ensemble import GradientBoostingRegressor, RandomForestRegressor
# from sklearn.experimental import enable_halving_search_cv
# from sklearn.impute import SimpleImputer
# from sklearn.inspection import permutation_importance
# from sklearn.linear_model import LinearRegression, Lasso, Ridge
# from sklearn.metrics import mean_absolute_error, mean_squared_error, r2_score
from sklearn.model_selection import train_test_split
# (
#     GridSearchCV, RandomizedSearchCV, HalvingGridSearchCV, train_test_split
# )
# from sklearn.neighbors import KNeighborsRegressor
# from sklearn.pipeline import Pipeline
# from sklearn.preprocessing import (
#     LabelEncoder, MinMaxScaler, OneHotEncoder, OrdinalEncoder, RobustScaler, StandardScaler
# )
# from sklearn.tree import DecisionTreeRegressor
from sklearn.utils import shuffle

# FAISS
import faiss

# Ð”Ð¾Ð¿Ð¾Ð»Ð½Ð¸Ñ‚ÐµÐ»ÑŒÐ½Ñ‹Ðµ Ð±Ð¸Ð±Ð»Ð¸Ð¾Ñ‚ÐµÐºÐ¸
from tqdm import tqdm

# Ð”Ð¾Ð¿Ð¾Ð»Ð½Ð¸Ñ‚ÐµÐ»ÑŒÐ½Ñ‹Ðµ Ð½Ð°ÑÑ‚Ñ€Ð¾Ð¹ÐºÐ¸
matplotlib_axes_logger.setLevel('ERROR')
warnings.filterwarnings("ignore")
warnings.warn("ignore")
register_matplotlib_converters()

# Ð—Ð°Ñ„Ð¸ÐºÑÐ¸Ñ€Ð¾Ð²Ð°Ð½Ð½Ñ‹Ðµ Ð¿Ð°Ñ€Ð°Ð¼ÐµÑ‚Ñ€Ñ‹ Ð²Ð¸Ð·ÑƒÐ°Ð»Ð¸Ð·Ð°Ñ†Ð¸Ð¸
pd.options.mode.chained_assignment = None
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', 100) 
sns.set(rc={'figure.figsize': (20, 10)})
mpl.rcParams.update({'font.size': 11})
sns.set_style("whitegrid")

CPU times: user 51.9 ms, sys: 70.1 ms, total: 122 ms
Wall time: 14.7 s

**Ð¤ÑƒÐ½ÐºÑ†Ð¸Ð¸, Ð¸ÑÐ¿Ð¾Ð»ÑŒÐ·ÑƒÐµÐ¼Ñ‹Ðµ Ð² Ñ€Ð°Ð¼ÐºÐ°Ñ… Ð¸ÑÑÐ»ÐµÐ´Ð¾Ð²Ð°Ð½Ð¸Ñ**

In [2]:
def load_pd_df(file_name, parse_dates=None, sep=None, dec=',', index_col=0):
    """
    Ð˜Ñ‰ÐµÑ‚ Ñ„Ð°Ð¹Ð» Ð² ÑÐµÑ‚Ð¸ Ð¸ Ð»Ð¾ÐºÐ°Ð»ÑŒÐ½Ð¾, Ð·Ð°Ð³Ñ€ÑƒÐ¶Ð°ÐµÑ‚ ÐµÐ³Ð¾ Ð¸ Ð²Ð¾Ð·Ð²Ñ€Ð°Ñ‰Ð°ÐµÑ‚ ÐºÐ°Ðº pandas DataFrame.
    Ð¢Ð°ÐºÐ¶Ðµ ÑƒÐ¼ÐµÐµÑ‚ Ð¿Ð°Ñ€ÑÐ¸Ñ‚ÑŒ Ð´Ð°Ñ‚Ñƒ Ð¿Ð¾ ÑÑ‚Ð¾Ð»Ð±Ñ†Ð°Ð¼.

    :param file_name: Ð¸Ð¼Ñ Ñ„Ð°Ð¹Ð»Ð° Ð´Ð»Ñ Ð·Ð°Ð³Ñ€ÑƒÐ·ÐºÐ¸
    :param sep: Ñ€Ð°Ð·Ð´ÐµÐ»Ð¸Ñ‚ÐµÐ»ÑŒ ÐºÐ¾Ð»Ð¾Ð½Ð¾Ðº Ð² Ñ„Ð°Ð¹Ð»Ðµ (Ð½Ð°Ð¿Ñ€Ð¸Ð¼ÐµÑ€, ',' Ð´Ð»Ñ CSV)
    :param dec: ÑÐ¸Ð¼Ð²Ð¾Ð» Ð´ÐµÑÑÑ‚Ð¸Ñ‡Ð½Ð¾Ð³Ð¾ Ñ€Ð°Ð·Ð´ÐµÐ»Ð¸Ñ‚ÐµÐ»Ñ (Ð¿Ð¾ ÑƒÐ¼Ð¾Ð»Ñ‡Ð°Ð½Ð¸ÑŽ ',')
    :param parse_dates: ÑÐ¿Ð¸ÑÐ¾Ðº ÑÑ‚Ð¾Ð»Ð±Ñ†Ð¾Ð², ÐºÐ¾Ñ‚Ð¾Ñ€Ñ‹Ðµ Ð½ÑƒÐ¶Ð½Ð¾ Ñ€Ð°Ð·Ð¾Ð±Ñ€Ð°Ñ‚ÑŒ ÐºÐ°Ðº Ð´Ð°Ñ‚Ñ‹
    :return: Ð·Ð°Ð³Ñ€ÑƒÐ¶ÐµÐ½Ð½Ñ‹Ð¹ DataFrame Ð¸Ð»Ð¸ None, ÐµÑÐ»Ð¸ Ñ„Ð°Ð¹Ð» Ð½Ðµ Ð½Ð°Ð¹Ð´ÐµÐ½
    """
    if parse_dates is None:
        parse_dates = []
    file_path_net = f'/datasets/{file_name}'
    file_path_local = file_name

    try:
        if os.path.exists(file_path_net):
            file_path = file_path_net
        elif os.path.exists(file_path_local):
            file_path = file_path_local
        else:
            print(f'[ âŒ ] {file_name} Ð½Ðµ Ð½Ð°Ð¹Ð´ÐµÐ½ Ð½Ð¸Ð³Ð´Ðµ')
            return None
        
        df = pd.read_csv(file_path, parse_dates=parse_dates, sep=sep, decimal=dec, index_col=index_col)
        location = "ÑÐµÑ‚Ð¸" if file_path == file_path_net else "Ð»Ð¾ÐºÐ°Ð»ÑŒÐ½Ð¾Ð³Ð¾ Ñ…Ñ€Ð°Ð½Ð¸Ð»Ð¸Ñ‰Ð°"
        print(f'[ ðŸ‘ ] {file_name} ÑƒÑÐ¿ÐµÑˆÐ½Ð¾ Ð·Ð°Ð³Ñ€ÑƒÐ¶ÐµÐ½ Ð¸Ð· {location}')
        return df
    except Exception as e:
        print(f'ÐŸÑ€Ð¾Ð¸Ð·Ð¾ÑˆÐ»Ð° Ð¾ÑˆÐ¸Ð±ÐºÐ° Ð¿Ñ€Ð¸ Ð·Ð°Ð³Ñ€ÑƒÐ·ÐºÐµ: {e}')
        return None

In [3]:
def load_spark_df(file_name, sep=None, header=True, inferSchema=True):
    """
    Ð˜Ñ‰ÐµÑ‚ Ñ„Ð°Ð¹Ð» Ð² ÑÐµÑ‚Ð¸ Ð¸ Ð»Ð¾ÐºÐ°Ð»ÑŒÐ½Ð¾, Ð·Ð°Ð³Ñ€ÑƒÐ¶Ð°ÐµÑ‚ ÐµÐ³Ð¾ Ð¸ Ð²Ð¾Ð·Ð²Ñ€Ð°Ñ‰Ð°ÐµÑ‚ ÐºÐ°Ðº Spark DataFrame.
    Ð¢Ð°ÐºÐ¶Ðµ ÑƒÐ¼ÐµÐµÑ‚ Ð¿Ð°Ñ€ÑÐ¸Ñ‚ÑŒ Ð´Ð°Ñ‚Ñƒ Ð¿Ð¾ ÑÑ‚Ð¾Ð»Ð±Ñ†Ð°Ð¼.

    :param df_name: Ð¸Ð¼Ñ Ð´Ð°Ñ‚Ð°Ñ„Ñ€ÐµÐ¹Ð¼Ð°
    :param file_name: Ð¸Ð¼Ñ Ñ„Ð°Ð¹Ð»Ð° Ð´Ð»Ñ Ð·Ð°Ð³Ñ€ÑƒÐ·ÐºÐ¸
    :param sep: Ñ€Ð°Ð·Ð´ÐµÐ»Ð¸Ñ‚ÐµÐ»ÑŒ ÐºÐ¾Ð»Ð¾Ð½Ð¾Ðº Ð² Ñ„Ð°Ð¹Ð»Ðµ
    :param header: Ð·Ð°Ð³Ð¾Ð»Ð¾Ð²Ð¾Ðº (Ð¿Ð¾ ÑƒÐ¼Ð¾Ð»Ñ‡Ð°Ð½Ð¸ÑŽ True)
    :param inferSchema: Ð°Ð²Ñ‚Ð¾Ð¼Ð°Ñ‚Ð¸Ñ‡ÐµÑÐºÐ°Ñ ÑÑ…ÐµÐ¼Ð° Ð´Ð°Ð½Ð½Ñ‹Ñ… (Ð¿Ð¾ ÑƒÐ¼Ð¾Ð»Ñ‡Ð°Ð½Ð¸ÑŽ True)
    :return: Ð·Ð°Ð³Ñ€ÑƒÐ¶ÐµÐ½Ð½Ñ‹Ð¹ Spark DataFrame Ð¸Ð»Ð¸ None, ÐµÑÐ»Ð¸ Ñ„Ð°Ð¹Ð» Ð½Ðµ Ð½Ð°Ð¹Ð´ÐµÐ½
    """
    file_path_net = f'/datasets/{file_name}'
    file_path_local = file_name
    
    try:
        if os.path.exists(file_path_net):
            file_path = file_path_net
        elif os.path.exists(file_path_local):
            file_path = file_path_local
        else:
            print(f'[ âŒ ]{file_name} Ð½Ðµ Ð½Ð°Ð¹Ð´ÐµÐ½ Ð½Ð¸Ð³Ð´Ðµ')
            return None
        
        df = spark.read.csv(file_path, sep=sep, header=header, inferSchema=inferSchema)
        location = "ÑÐµÑ‚Ð¸" if file_path == file_path else "Ð»Ð¾ÐºÐ°Ð»ÑŒÐ½Ð¾Ð³Ð¾ Ñ…Ñ€Ð°Ð½Ð¸Ð»Ð¸Ñ‰Ð°"
        print(f'[ ðŸ‘ ] {file_name} ÑƒÑÐ¿ÐµÑˆÐ½Ð¾ Ð·Ð°Ð³Ñ€ÑƒÐ¶ÐµÐ½ Ð¸Ð· {location}')
        return df
    except Exception as e:
        print(f'ÐŸÑ€Ð¾Ð¸Ð·Ð¾ÑˆÐ»Ð° Ð¾ÑˆÐ¸Ð±ÐºÐ° Ð¿Ñ€Ð¸ Ð·Ð°Ð³Ñ€ÑƒÐ·ÐºÐµ: {e}')
        return None

In [8]:
def look_on(df):
    display(df.head())
    df.info()

In [33]:
def spark_info(df):
    # Ð¡Ð¾Ð·Ð´Ð°ÐµÐ¼ Ð²Ñ‹Ñ€Ð°Ð¶ÐµÐ½Ð¸Ñ Ð°Ð³Ñ€ÐµÐ³Ð¸Ñ€Ð¾Ð²Ð°Ð½Ð¸Ñ Ð´Ð»Ñ Ð¿Ð¾Ð´ÑÑ‡ÐµÑ‚Ð° Ð½ÐµÐ½ÑƒÐ»ÐµÐ²Ñ‹Ñ… Ð·Ð½Ð°Ñ‡ÐµÐ½Ð¸Ð¹ Ð² ÐºÐ°Ð¶Ð´Ð¾Ð¼ ÑÑ‚Ð¾Ð»Ð±Ñ†Ðµ
    agg_exprs = [F.count(F.col(c)).alias(c) for c in df.columns]
    
    # ÐŸÑ€Ð¸Ð¼ÐµÐ½ÑÐµÐ¼ Ð°Ð³Ñ€ÐµÐ³Ð¸Ñ€Ð¾Ð²Ð°Ð½Ð¸Ðµ ÐºÐ¾ Ð²ÑÐµÐ¼Ñƒ DataFrame ÑÑ€Ð°Ð·Ñƒ
    non_null_counts = df.agg(*agg_exprs).collect()[0].asDict()
    
    # ÐŸÐ¾Ð»ÑƒÑ‡Ð°ÐµÐ¼ Ñ‚Ð¸Ð¿Ñ‹ Ð´Ð°Ð½Ð½Ñ‹Ñ… Ð´Ð»Ñ ÐºÐ°Ð¶Ð´Ð¾Ð³Ð¾ ÑÑ‚Ð¾Ð»Ð±Ñ†Ð°
    dtypes_dict = dict(df.dtypes)
    
    # Ð¤Ð¾Ñ€Ð¼Ð¸Ñ€ÑƒÐµÐ¼ ÑÐ¿Ð¸ÑÐ¾Ðº ÑÐ»Ð¾Ð²Ð°Ñ€ÐµÐ¹ Ð´Ð»Ñ Ð¿Ð¾ÑÐ»ÐµÐ´ÑƒÑŽÑ‰ÐµÐ³Ð¾ ÑÐ¾Ð·Ð´Ð°Ð½Ð¸Ñ pandas DataFrame
    rows = []
    for column, dtype in dtypes_dict.items():
        row = {
            'Column Name': column,
            'Non-Null Count': non_null_counts[column],
            'Data Type': dtype
        }
        rows.append(row)
    
    # Ð’Ð¾Ð·Ð²Ñ€Ð°Ñ‰Ð°ÐµÐ¼ pandas DataFrame Ñ Ð¸Ð½Ñ„Ð¾Ñ€Ð¼Ð°Ñ†Ð¸ÐµÐ¹ Ð¾ ÑÑ‚Ð¾Ð»Ð±Ñ†Ð°Ñ…
    return pd.DataFrame(rows)

In [32]:
def print_nulls(df):
    # Ð¡Ð¾Ð·Ð´Ð°ÐµÐ¼ Ð²Ñ‹Ñ€Ð°Ð¶ÐµÐ½Ð¸Ñ Ð´Ð»Ñ Ð°Ð³Ñ€ÐµÐ³Ð¸Ñ€Ð¾Ð²Ð°Ð½Ð¸Ñ: Ð¿Ð¾Ð´ÑÑ‡ÐµÑ‚ ÐºÐ¾Ð»Ð¸Ñ‡ÐµÑÑ‚Ð²Ð° null Ð·Ð½Ð°Ñ‡ÐµÐ½Ð¸Ð¹ Ð² ÐºÐ°Ð¶Ð´Ð¾Ð¼ ÑÑ‚Ð¾Ð»Ð±Ñ†Ðµ
    agg_exprs = [F.count(F.when(F.col(c).isNull(), c)).alias(c) for c in df.columns]
    
    # ÐŸÑ€Ð¸Ð¼ÐµÐ½ÑÐµÐ¼ Ð°Ð³Ñ€ÐµÐ³Ð¸Ñ€Ð¾Ð²Ð°Ð½Ð¸Ðµ ÐºÐ¾ Ð²ÑÐµÐ¼Ñƒ DataFrame ÑÑ€Ð°Ð·Ñƒ
    nulls_df = df.agg(*agg_exprs)
    
    # Ð¡Ð¾Ð±Ð¸Ñ€Ð°ÐµÐ¼ Ñ€ÐµÐ·ÑƒÐ»ÑŒÑ‚Ð°Ñ‚ Ð² Ð»Ð¾ÐºÐ°Ð»ÑŒÐ½Ñ‹Ð¹ Ð¾Ð±ÑŠÐµÐºÑ‚ Python Ð´Ð»Ñ Ð´Ð°Ð»ÑŒÐ½ÐµÐ¹ÑˆÐµÐ¹ Ð¾Ð±Ñ€Ð°Ð±Ð¾Ñ‚ÐºÐ¸
    nulls_counts = nulls_df.collect()[0].asDict()
    
    # Ð¤Ð»Ð°Ð³ Ð´Ð»Ñ Ð¾Ñ‚ÑÐ»ÐµÐ¶Ð¸Ð²Ð°Ð½Ð¸Ñ Ð½Ð°Ð»Ð¸Ñ‡Ð¸Ñ null Ð·Ð½Ð°Ñ‡ÐµÐ½Ð¸Ð¹
    nulls_found = False
    
    # ÐŸÐµÑ€ÐµÐ±Ð¸Ñ€Ð°ÐµÐ¼ Ð¿Ð¾Ð»ÑƒÑ‡ÐµÐ½Ð½Ñ‹Ðµ Ñ€ÐµÐ·ÑƒÐ»ÑŒÑ‚Ð°Ñ‚Ñ‹ Ð¸ Ð¿ÐµÑ‡Ð°Ñ‚Ð°ÐµÐ¼ Ð¸Ð½Ñ„Ð¾Ñ€Ð¼Ð°Ñ†Ð¸ÑŽ Ð¾ ÑÑ‚Ð¾Ð»Ð±Ñ†Ð°Ñ… Ñ null Ð·Ð½Ð°Ñ‡ÐµÐ½Ð¸ÑÐ¼Ð¸
    for column, count in nulls_counts.items():
        if count > 0:
            print(f"{column}: {count}")
            nulls_found = True
    
    # Ð•ÑÐ»Ð¸ null Ð·Ð½Ð°Ñ‡ÐµÐ½Ð¸Ñ Ð½Ðµ Ð½Ð°Ð¹Ð´ÐµÐ½Ñ‹
    if not nulls_found:
        print("ÐŸÑ€Ð¾Ð¿ÑƒÑÐºÐ¾Ð² Ð½Ðµ Ð¾Ð±Ð½Ð°Ñ€ÑƒÐ¶ÐµÐ½Ð¾")

In [34]:
def double_to_float(df):
    columns = base_spark.columns
    
    # Ð•ÑÐ»Ð¸ Ñ„Ð¾Ñ€Ð¼Ð°Ñ‚ 'double' Ñ‚Ð¾Ð³Ð´Ð° Ð¼ÐµÐ½ÑÐµÐ¼ Ð½Ð° 'float'
    for column in columns:
        if dict(df.dtypes)[column] == 'double':
            df = df.withColumn(column, F.col(column).cast(FloatType()))
    # ÐŸÐµÑ‡Ð°Ñ‚Ð°ÐµÐ¼ Ñ€ÐµÐ·ÑƒÐ»ÑŒÑ‚Ð°Ñ‚        
    print(pd.DataFrame(base_spark.dtypes))        
    return df

In [48]:
def optimize_memory_usage(df, print_size=True):
    """
    Ð¤ÑƒÐ½ÐºÑ†Ð¸Ñ Ð´Ð»Ñ Ð¾Ð¿Ñ‚Ð¸Ð¼Ð¸Ð·Ð°Ñ†Ð¸Ð¸ Ð¸ÑÐ¿Ð¾Ð»ÑŒÐ·Ð¾Ð²Ð°Ð½Ð¸Ñ Ð¿Ð°Ð¼ÑÑ‚Ð¸ Ð² DataFrame.

    ÐŸÐ°Ñ€Ð°Ð¼ÐµÑ‚Ñ€Ñ‹:
    :df: - Ñ‚Ð°Ð±Ð»Ð¸Ñ†Ð° Ð´Ð°Ð½Ð½Ñ‹Ñ….
    :print_size: bool - Ñ„Ð»Ð°Ð³ Ð´Ð»Ñ Ð²Ñ‹Ð²Ð¾Ð´Ð° Ñ€ÐµÐ·ÑƒÐ»ÑŒÑ‚Ð°Ñ‚Ð¾Ð² Ð¾Ð¿Ñ‚Ð¸Ð¼Ð¸Ð·Ð°Ñ†Ð¸Ð¸.

    :return:
    df - DataFrame Ñ Ð¾Ð¿Ñ‚Ð¸Ð¼Ð¸Ð·Ð¸Ñ€Ð¾Ð²Ð°Ð½Ð½Ñ‹Ð¼ Ð¸ÑÐ¿Ð¾Ð»ÑŒÐ·Ð¾Ð²Ð°Ð½Ð¸ÐµÐ¼ Ð¿Ð°Ð¼ÑÑ‚Ð¸.
    """
    numerics = ['int16', 'int32', 'int64', 'float16', 'float32', 'float64']
    # Ð¢Ð¸Ð¿Ñ‹, ÐºÐ¾Ñ‚Ð¾Ñ€Ñ‹Ðµ Ð±ÑƒÐ´ÐµÐ¼ Ð¿Ñ€Ð¾Ð²ÐµÑ€ÑÑ‚ÑŒ Ð½Ð° Ð¾Ð¿Ñ‚Ð¸Ð¼Ð¸Ð·Ð°Ñ†Ð¸ÑŽ

    # Ð Ð°Ð·Ð¼ÐµÑ€ Ð·Ð°Ð½Ð¸Ð¼Ð°ÐµÐ¼Ð¾Ð¹ Ð¿Ð°Ð¼ÑÑ‚Ð¸ Ð´Ð¾ Ð¾Ð¿Ñ‚Ð¸Ð¼Ð¸Ð·Ð°Ñ†Ð¸Ð¸ (Ð² ÐœÐ±)
    before_size = df.memory_usage().sum() / (1024**2)

    for column in df.columns:
        column_type = df[column].dtypes
        if column_type in numerics:
            column_min = df[column].min()
            column_max = df[column].max()
            if str(column_type).startswith('int'):
                if column_min > np.iinfo(np.int8).min and column_max < np.iinfo(np.int8).max:
                    df[column] = df[column].astype(np.int8)
                elif column_min > np.iinfo(np.int16).min and column_max < np.iinfo(np.int16).max:
                    df[column] = df[column].astype(np.int16)
                elif column_min > np.iinfo(np.int32).min and column_max < np.iinfo(np.int32).max:
                    df[column] = df[column].astype(np.int32)
                elif column_min > np.iinfo(np.int64).min and column_max < np.iinfo(np.int64).max:
                    df[column] = df[column].astype(np.int64)
            else:
                if column_min > np.finfo(np.float32).min and column_max < np.finfo(np.float32).max:
                    df[column] = df[column].astype(np.float32)
                else:
                    df[column] = df[column].astype(np.float64)

    # Ð Ð°Ð·Ð¼ÐµÑ€ Ð·Ð°Ð½Ð¸Ð¼Ð°ÐµÐ¼Ð¾Ð¹ Ð¿Ð°Ð¼ÑÑ‚Ð¸ Ð¿Ð¾ÑÐ»Ðµ Ð¾Ð¿Ñ‚Ð¸Ð¼Ð¸Ð·Ð°Ñ†Ð¸Ð¸ (Ð² ÐœÐ±)
    after_size = df.memory_usage().sum() / (1024**2)

    if print_size:
        print('Ð Ð°Ð·Ð¼ÐµÑ€ Ð¸ÑÐ¿Ð¾Ð»ÑŒÐ·Ð¾Ð²Ð°Ð½Ð¸Ñ Ð¿Ð°Ð¼ÑÑ‚Ð¸: Ð´Ð¾ {:5.2f} Mb - Ð¿Ð¾ÑÐ»Ðµ {:5.2f} Mb ({:.1f}%)'
              .format(before_size, after_size, 100 * (before_size - after_size) / before_size))

    return df

## Ð—Ð°Ð³Ñ€ÑƒÐ·ÐºÐ° Ð¸ Ð¾Ð±Ð·Ð¾Ñ€ Ð´Ð°Ð½Ð½Ñ‹Ñ…

Ð˜Ð½Ð¸Ñ†Ð¸Ð°Ð»Ð¸Ð·Ð¸Ñ€ÑƒÐµÐ¼ Spark-ÑÐµÑÑÐ¸ÑŽ.

In [5]:
%%time
spark = SparkSession.builder \
                    .master("local") \
                    .appName("EDA California Housing") \
                    .getOrCreate()

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
24/07/29 20:11:41 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

CPU times: user 6.54 ms, sys: 7.2 ms, total: 13.7 ms
Wall time: 1.68 s

In [6]:
# Ð—Ð°Ð³Ñ€ÑƒÐ·ÐºÐ° sample
base_sample = load_pd_df('sample/base.csv')
train_sample = load_pd_df('sample/train.csv')
validation_answer_sample = load_pd_df('sample/validation_answer.csv')
validation_sample = load_pd_df('sample/validation.csv')

# Ð—Ð°Ð³Ñ€ÑƒÐ·ÐºÐ° Ð¾ÑÐ½Ð¾Ð²Ð½Ñ‹Ñ… Ð´Ð°Ð½Ð½Ñ‹Ñ…
base_spark = load_spark_df('all/base.csv') # Ð·Ð°Ð³Ñ€ÑƒÐ¶Ð°ÐµÐ¼ ÐºÐ°Ðº Spark DataFrame
train = load_pd_df('all/train.csv')
validation_answer = load_pd_df('all/validation_answer.csv')
validation = load_pd_df('all/validation.csv')

[ ðŸ‘ ] sample/base.csv ÑƒÑÐ¿ÐµÑˆÐ½Ð¾ Ð·Ð°Ð³Ñ€ÑƒÐ¶ÐµÐ½ Ð¸Ð· Ð»Ð¾ÐºÐ°Ð»ÑŒÐ½Ð¾Ð³Ð¾ Ñ…Ñ€Ð°Ð½Ð¸Ð»Ð¸Ñ‰Ð°

24/07/29 20:11:55 WARN GarbageCollectionMetrics: To enable non-built-in garbage collector(s) List(G1 Concurrent GC), users should configure it(them) to spark.eventLog.gcMetrics.youngGenerationGarbageCollectors or spark.eventLog.gcMetrics.oldGenerationGarbageCollectors

[ ðŸ‘ ] sample/train.csv ÑƒÑÐ¿ÐµÑˆÐ½Ð¾ Ð·Ð°Ð³Ñ€ÑƒÐ¶ÐµÐ½ Ð¸Ð· Ð»Ð¾ÐºÐ°Ð»ÑŒÐ½Ð¾Ð³Ð¾ Ñ…Ñ€Ð°Ð½Ð¸Ð»Ð¸Ñ‰Ð°
[ ðŸ‘ ] sample/validation_answer.csv ÑƒÑÐ¿ÐµÑˆÐ½Ð¾ Ð·Ð°Ð³Ñ€ÑƒÐ¶ÐµÐ½ Ð¸Ð· Ð»Ð¾ÐºÐ°Ð»ÑŒÐ½Ð¾Ð³Ð¾ Ñ…Ñ€Ð°Ð½Ð¸Ð»Ð¸Ñ‰Ð°
[ ðŸ‘ ] sample/validation.csv ÑƒÑÐ¿ÐµÑˆÐ½Ð¾ Ð·Ð°Ð³Ñ€ÑƒÐ¶ÐµÐ½ Ð¸Ð· Ð»Ð¾ÐºÐ°Ð»ÑŒÐ½Ð¾Ð³Ð¾ Ñ…Ñ€Ð°Ð½Ð¸Ð»Ð¸Ñ‰Ð°

[ ðŸ‘ ] all/base.csv ÑƒÑÐ¿ÐµÑˆÐ½Ð¾ Ð·Ð°Ð³Ñ€ÑƒÐ¶ÐµÐ½ Ð¸Ð· ÑÐµÑ‚Ð¸
[ ðŸ‘ ] all/train.csv ÑƒÑÐ¿ÐµÑˆÐ½Ð¾ Ð·Ð°Ð³Ñ€ÑƒÐ¶ÐµÐ½ Ð¸Ð· Ð»Ð¾ÐºÐ°Ð»ÑŒÐ½Ð¾Ð³Ð¾ Ñ…Ñ€Ð°Ð½Ð¸Ð»Ð¸Ñ‰Ð°
[ ðŸ‘ ] all/validation_answer.csv ÑƒÑÐ¿ÐµÑˆÐ½Ð¾ Ð·Ð°Ð³Ñ€ÑƒÐ¶ÐµÐ½ Ð¸Ð· Ð»Ð¾ÐºÐ°Ð»ÑŒÐ½Ð¾Ð³Ð¾ Ñ…Ñ€Ð°Ð½Ð¸Ð»Ð¸Ñ‰Ð°
[ ðŸ‘ ] all/validation.csv ÑƒÑÐ¿ÐµÑˆÐ½Ð¾ Ð·Ð°Ð³Ñ€ÑƒÐ¶ÐµÐ½ Ð¸Ð· Ð»Ð¾ÐºÐ°Ð»ÑŒÐ½Ð¾Ð³Ð¾ Ñ…Ñ€Ð°Ð½Ð¸Ð»Ð¸Ñ‰Ð°

Ð—Ð°Ð³Ñ€ÑƒÐ·Ð¸Ð¼ Ð¾Ð±Ð° Ð½Ð°Ð±Ð¾Ñ€Ð° Ð´Ð°Ð½Ð½Ñ‹Ñ…, Ð³Ð´Ðµ sample - ÑÐ¾ÐºÑ€Ð°Ñ‰ÐµÐ½Ð½Ð°Ñ Ð²ÐµÑ€ÑÐ¸Ñ Ð´Ð»Ñ Ð¾Ñ‚Ð»Ð°Ð´ÐºÐ¸ Ð¼Ð¾Ð´ÐµÐ»Ð¸ Ð¸ Ñ‚ÐµÑÑ‚Ð¸Ñ€Ð¾Ð²Ð°Ð½Ð¸Ñ Ð³Ð¸Ð¿Ð¾Ñ‚ÐµÐ·.
ÐŸÑ€ÐµÐ´Ð¾Ð±Ñ€Ð°Ð±Ð¾Ñ‚ÐºÑƒ Ð¸ EDA Ð±ÑƒÐ´ÐµÐ¼ Ð¿Ñ€Ð¾Ð²Ð¾Ð´Ð¸Ñ‚ÑŒ Ð½Ð° Ð¾ÑÐ½Ð¾Ð²Ð½Ð¾Ð¹ Ð±Ð°Ð·Ðµ Ð´Ð°Ð½Ð½Ñ‹Ñ….

ÐŸÐ¾ÑÐ¼Ð¾Ñ‚Ñ€Ð¸Ð¼ Ð½Ð° ÑÐ¾Ð´ÐµÑ€Ð¶Ð¸Ð¼Ð¾Ðµ Ð´Ð°Ñ‚Ð°Ñ„Ñ€ÐµÐ¹Ð¼Ð°:

**- base:**

In [24]:
print(pd.DataFrame(base_spark.dtypes, columns=['column', 'type']).head(10)) 
base_spark.show(10)

  column    type
0     Id  string
1      0  double
2      1  double
3      2  double
4      3  double
5      4  double
6      5  double
7      6  double
8      7  double
9      8  double
+------+----------+---------+----------+----------+---------+----------+-------------------+----------+----------+----------+-----------+----------+-----------+----------+----------+-----------+----------+----------+-----------+----------+-----------+------------------+-----------+---------+----------+------------------+-----------+---------+----------+---------+----------+----------+----------+-------------------+----------+---------+-----------+----------+----------+----------+----------+-----------+----------+---------+-------------------+---------+----------+----------+----------+----------+-----------+----------+---------+-----------+---------+---------+----------+----------+-----------+-------------------+-----------+----------+-----------+---------+----------+------------------+---------+----------+---------+----------+-------------------+----------+
|    Id|         0|        1|         2|         3|        4|         5|                  6|         7|         8|         9|         10|        11|         12|        13|        14|         15|        16|        17|         18|        19|         20|                21|         22|       23|        24|                25|         26|       27|        28|       29|        30|        31|        32|                 33|        34|       35|         36|        37|        38|        39|        40|         41|        42|       43|                 44|       45|        46|        47|        48|        49|         50|        51|       52|         53|       54|       55|        56|        57|         58|                 59|         60|        61|         62|       63|        64|                65|       66|        67|       68|        69|                 70|        71|
+------+----------+---------+----------+----------+---------+----------+-------------------+----------+----------+----------+-----------+----------+-----------+----------+----------+-----------+----------+----------+-----------+----------+-----------+------------------+-----------+---------+----------+------------------+-----------+---------+----------+---------+----------+----------+----------+-------------------+----------+---------+-----------+----------+----------+----------+----------+-----------+----------+---------+-------------------+---------+----------+----------+----------+----------+-----------+----------+---------+-----------+---------+---------+----------+----------+-----------+-------------------+-----------+----------+-----------+---------+----------+------------------+---------+----------+---------+----------+-------------------+----------+
|0-base|-115.08389|11.152912| -64.42676|-118.88089|216.48244|-104.69806|-469.07058834311374| 44.348083|120.915344|  181.4497| -124.06151|-32.458237|  -57.42056| 36.207405| 182.71677| -28.071688| -5.209374|-1.7321825|  -91.09186| -79.46667| -103.93909|  1507.23127421948| -32.591667| 51.41436| -51.90536| 813.7700714289165| -41.556538| 8.419807|-129.97664|148.76503|-10.069234|-143.00504| 79.848694|  -537.183707014226|   2.77318|111.51868|  4.2576656|-153.34058|-123.62608|-39.707664|-12.768708|  -4.170106|-152.96713| 75.91152|-57.470088026989295|17.266476|-98.871155|-138.06754|  91.00038|  -170.702|  -50.02039| 59.794296| 78.10638| -89.375725|  89.4121| 79.81218|-129.51361|-44.659496|  -80.44221|  5.149714225624258|  -64.51895|-138.77763| -42.808693|38.800827|-151.76218|-74.38908993516601| 63.66634| -4.703861| 92.93361| 115.26919|-112.75663997683625|-60.830353|
|1-base|-34.562202|13.332763| -69.78761|-166.53348|57.680607| -86.09837| -85.07666571872102|-35.637436|119.718636| 195.23419| -141.30435| -126.7689|  -68.85353|  8.314717| 143.08174|   8.778257| 15.157185|  48.24636| -244.95486| -80.27942|  -81.78804| 429.8800353201419|   -5.93769|70.142654|  66.57684| 813.7700714289165|  3.2143707|17.164303|-39.418385|148.15588|  -7.57959|-174.36995| 101.22463| -303.9392333434751|  16.91463|53.394676|  33.451824|-148.55263|-110.34017|-33.277206| -8.688703|  13.650302|-91.228745|38.445015| -31.94847017878999| 62.48482|-166.47336|-189.01042|-56.731556|-30.027319|   59.17106| -56.71154|63.542606| -121.31917|97.426056| 74.83284|-138.77705| 58.887608|  -71.59534| -251.9523575527808|  11.392853|-148.57166|-117.767525|     41.1| -157.8294|-94.44680638173945| 68.20211| 24.346846|179.93793|   116.834| -84.88894063069353| -59.52461|
|2-base|-54.233746| 6.379371|-29.210136|-133.41383|150.89583|-99.435326| 52.554795262316524| 62.381706| 128.95145| 164.38147| -140.82245|-22.486748|  -51.66699| 2.5217257| 140.58545|  -22.03923|-7.1286335|-5.1847873| -111.71212| -79.02927| -82.452576|  1507.23127421948|-0.42101097| 84.10801|  63.34451| 813.7700714289165| -105.21105|  18.8447|-94.789474|151.38771| -21.48344|-144.84537| 48.502934| -780.4491846637904|  64.76731|79.781555| -13.390142|-150.06166|-118.75855|-40.896286| -15.22262| -1.8603377|-93.820656| 98.74907|  -46.7457823874968|65.927475|-10.286392|-125.32137| 21.048609|-22.637775|  68.915985| -54.90226| 66.33547| -142.92792| 83.03098| 69.97963|-123.73389|  65.32088| -114.03718| -529.3969563741919|-101.581375|-134.65822|   -76.3978|46.011803|-207.14442| 127.3255696717477| 65.56618|  66.32568| 81.07349|116.594154|-1074.4648878939415|-32.527206|
|3-base| -87.52013|4.0378838| -87.80303|-185.06763| 76.36954|-58.985165| -383.1828445913523|-33.611237| 122.03191| 136.23358| -108.47044|-104.53778|  -82.38849| -79.98674| 113.59631|  -38.99588|  -4.78736|  8.327808| -124.85576| -79.10902|-107.943275|1479.1705304440159|-125.271614|24.656485|-16.921055| 813.7700714289165| -182.68027|14.715704|  -62.9327|151.20198| 10.613454|-134.93434|  58.77773| -529.2950529513196| 43.665924|92.806305| -38.936657| -145.0453|-124.29577| -36.87673| -17.74287|  10.536242|-124.58415|121.91415|-17.321357632692887|105.21724| -94.37965| -63.76927| 29.217487|-26.423973|   5.869829|  64.06155| 63.51328|  -112.2581| 80.92659|  72.6361|-137.31432|  7.912551|  -62.18892| -540.3210442144914| -89.588715|-149.32669|  -70.64794|-6.358921|-147.20105|-37.69274981917155| 66.20289| -20.56691|137.20694|  117.4741|-1074.4648878939415| -72.91549|
|4-base| -72.74385|6.5220485| 43.671265|-140.60803|5.8200226|-112.07408|-397.71128162905836|   45.1825| 122.16718|112.119064| -110.34245| -38.98206| -50.228867| -26.69092|  135.2729|  -7.510103|  8.924209| 111.57695| -130.83319| -79.31585| -57.843952| 1262.919737510802|   19.22591|59.811813|  76.15967|312.69890330541006| -76.726974|21.299923|-24.069107|167.38553| -44.05947|-148.13185|  98.04261| -657.5243884265276|  96.36317| 71.06152| -36.563557|-135.37244|-123.70898|-44.739437| -10.85522|     8.3548|-168.32886|215.92807| -32.97597882084838| 66.86488|  30.83863|-211.54037| 57.695343| -67.82263| -29.389133| -34.12374| 54.71055| -26.032013| 90.67391|58.086998|-134.78206|  77.62039| -176.61588| -529.7624122370603| -100.56552|-125.31733| -57.199104|56.642403|-159.35184| 85.94472371826583| 66.76632| -2.505783|65.315285| 135.05159|-1074.4648878939415| 0.3194008|
|5-base|-50.510876|6.7402964| -81.95203|-142.06926|129.06447|-121.03738| -365.4017031260708|  79.92428| 124.75265| 102.13675| -203.73895|-3.6902695|  -79.63198|-21.287645|109.331436| -10.289253| 12.606242|-24.597998|  -207.6235|-78.304596|  -117.1333|  1507.23127421948|  -6.390344|10.623283| 1.6336212| 813.7700714289165| -207.44238|29.869135|-90.837975|151.76862| 25.716545|-103.69124|   86.4367| -837.1960199230143| 31.023838| 78.11564|  11.573647|-147.34972|  -123.324|  -24.9258|-1.2324448|-0.60744953| -79.88228| 71.62274| -53.03008587998119|62.887993|-104.28751|-278.95593| 146.06908| 1.9081535|-111.760895|-71.297134| 75.61499|  -213.6012| 91.24102| 72.07167|-133.60788| 104.67266| -172.67455|-35.679100865956094|  16.927277|-136.86134|  -103.2989|28.675972|-208.37845| -78.2934551348463|66.580765|  70.89436| 30.80537| 134.89156| -913.6382060860209|-30.293541|
|6-base|-132.34978|12.640369|-80.635895|-137.11795| 89.34549| -94.85352|  -462.933976926715|  91.35603|126.557274|  147.3949| -181.88057| 58.696495|-102.881424|    2.4712|  84.73935| -17.143242|-21.006647| -59.81744| -150.99687|-79.834366| -136.83455|  1507.23127421948|   -45.6337| 69.27687| 69.863846| 813.7700714289165| -119.12138| 9.931257| -77.45913|169.67532|0.38253117| -193.0345|   86.0167| -735.6713646911912| 3.2851982| 77.66869|-0.33946705|-145.26048|-126.97502|-63.341637|-27.670044|  2.4420178|-141.59431| 71.63479|-36.717822197752916|57.680214| -91.29887| -117.4898|  85.10515| -75.37088| -59.305614| -72.85625|  63.8207| -248.02644|93.809944| 56.62275|-123.44968| -11.33207|  -56.31395|-298.44180136126386|  -86.12726|-129.89943| -55.650047|29.008305|-138.24612| 156.3005100760845|  67.0542|-25.324776|85.734146| 138.85352|-1070.5162782946948| -2.041809|
|7-base| -80.56177| 9.547482|-44.353603| -141.6006|133.50153| -72.64317|-484.41379489928113|-6.6011677| 122.31237| 103.56822|-122.697784|-65.481316|  -44.72569| -8.159735|  142.6523|-14.9603405|-12.837238| -3.194831|-116.634476|  -79.1509| -102.98087|  1507.23127421948|   62.60119|56.957535| 23.252392| 813.7700714289165|-111.608826|14.955386|-60.573654|152.26566| -8.862442|-142.29314|  58.21674|-366.13944587412004|  69.98355| 50.08645| -12.463988|-156.47627|-107.52024|-31.441555| -8.019813|   6.320825| -126.6472|139.54874| -50.87450730596323|63.823677| -97.51462|-135.24258| 28.434357| 5.2914047|  31.056795| -44.40808| 67.13977| -172.19034|86.985146|74.945435| -129.5894| 32.656277|-103.036865| -585.4036267574736|  -57.98623|-125.25498|  -55.61358|55.202328|-179.15207| 48.05086112027226| 66.35726| 26.573547|115.89015|  110.6749|-1074.4648878939415| -69.88366|
|8-base|-110.15972|5.3198333|  8.020306|  -172.445|79.661644|-100.07591|-2.5835560982992263| 28.758438|122.134224| 174.90027| -170.48668| 13.157242| -7.3386917|-5.8902264| 183.45424|  -9.002731|  15.55703|113.604095| -172.57138| -80.18815| -51.179626|  1507.23127421948|   56.24582| 25.33973| -39.82959| 813.7700714289165|-122.975784|19.414581|-157.36115|163.40698| 6.9469843|-162.22804|  89.48627| -735.6713646911912|  48.29193| 78.84004|  15.295309|-151.00041|  -99.2815| -55.50319|  7.342842|   5.634512|-116.62958|109.55381| -59.75204918626508|59.557434| -8.136955|-157.95506| 17.696602| -34.72276| -32.069084|  9.884779|   74.256| -136.61725|93.656364|59.463387| -140.5807|-6.3083353| -133.50175| -144.8561638944761|  -54.04869|-120.99951|  -54.11682|36.942806|-133.81061|-23.80247910174171| 69.41228|-51.071934| 91.09783| 108.00866|-426.68616030901967|-12.405426|
|9-base| -70.97926|4.7145834|-88.550476|-188.70183|137.07588|-115.66603|-209.70252304709845| 63.176735|114.353775|  117.6809|  -73.08605| -49.80616| -12.809496| 41.479362| 189.96017| -20.684563| 14.260853| -5.279996| -31.571861| -79.72711|-101.162415|  1507.23127421948| -27.884497|62.678604| 54.569496| 813.7700714289165| -126.89177|12.126792|-145.78516|171.63129| -47.47234|-127.09505|109.326866| -156.2498902662079|-3.7650223| 61.49048|   3.812069|  -148.902| -130.1998|  -76.5768|-21.555437|  3.5588455|-30.929306|117.69066| -40.57217522174591| 58.44918|-123.82789|-136.14323| 59.829147|-35.083393|  124.57289| -33.11114| 53.07167|-107.756584|81.254616| 89.32474|-131.56808|-56.309795| -155.30635|-174.12298887343016| -51.398727|-117.53951|  -34.78047|55.108017|-168.94844|-36.15014347379129|  67.7626| 49.744743|-16.17688| 139.03099|-440.83788220512645| -98.69144|
+------+----------+---------+----------+----------+---------+----------+-------------------+----------+----------+----------+-----------+----------+-----------+----------+----------+-----------+----------+----------+-----------+----------+-----------+------------------+-----------+---------+----------+------------------+-----------+---------+----------+---------+----------+----------+----------+-------------------+----------+---------+-----------+----------+----------+----------+----------+-----------+----------+---------+-------------------+---------+----------+----------+----------+----------+-----------+----------+---------+-----------+---------+---------+----------+----------+-----------+-------------------+-----------+----------+-----------+---------+----------+------------------+---------+----------+---------+----------+-------------------+----------+
only showing top 10 rows

In [43]:
spark_info(base_spark)

   Column Name  Non-Null Count Data Type
0           Id         2918139    string
1            0         2918139     float
2            1         2918139     float
3            2         2918139     float
4            3         2918139     float
5            4         2918139     float
6            5         2918139     float
7            6         2918139     float
8            7         2918139     float
9            8         2918139     float
10           9         2918139     float
11          10         2918139     float
12          11         2918139     float
13          12         2918139     float
14          13         2918139     float
15          14         2918139     float
16          15         2918139     float
17          16         2918139     float
18          17         2918139     float
19          18         2918139     float
20          19         2918139     float
21          20         2918139     float
22          21         2918139     float
23          22         2918139     float
24          23         2918139     float
25          24         2918139     float
26          25         2918139     float
27          26         2918139     float
28          27         2918139     float
29          28         2918139     float
30          29         2918139     float
31          30         2918139     float
32          31         2918139     float
33          32         2918139     float
34          33         2918139     float
35          34         2918139     float
36          35         2918139     float
37          36         2918139     float
38          37         2918139     float
39          38         2918139     float
40          39         2918139     float
41          40         2918139     float
42          41         2918139     float
43          42         2918139     float
44          43         2918139     float
45          44         2918139     float
46          45         2918139     float
47          46         2918139     float
48          47         2918139     float
49          48         2918139     float
50          49         2918139     float
51          50         2918139     float
52          51         2918139     float
53          52         2918139     float
54          53         2918139     float
55          54         2918139     float
56          55         2918139     float
57          56         2918139     float
58          57         2918139     float
59          58         2918139     float
60          59         2918139     float
61          60         2918139     float
62          61         2918139     float
63          62         2918139     float
64          63         2918139     float
65          64         2918139     float
66          65         2918139     float
67          66         2918139     float
68          67         2918139     float
69          68         2918139     float
70          69         2918139     float
71          70         2918139     float
72          71         2918139     float

In [44]:
print_nulls(base_spark)

ÐŸÑ€Ð¾Ð¿ÑƒÑÐºÐ¾Ð² Ð½Ðµ Ð¾Ð±Ð½Ð°Ñ€ÑƒÐ¶ÐµÐ½Ð¾

71 Ð¿Ñ€Ð¸Ð·Ð½Ð°Ðº, 2 918 139 Ð·Ð½Ð°Ñ‡ÐµÐ½Ð¸Ð¹ Ñ„Ð¾Ñ€Ð¼Ð°Ñ‚Ð° float, Ð±ÐµÐ· Ð¿Ñ€Ð¾Ð¿ÑƒÑÐºÐ¾Ð².

**- train:**

In [45]:
look_on(train)

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,42,43,44,45,46,47,48,49,50,51,52,53,54,55,56,57,58,59,60,61,62,63,64,65,66,67,68,69,70,71,Target
Id,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
0-query,-53.882748,17.971436,-42.117104,-183.93668,187.517490,-87.144930,-347.360606,38.307602,109.085560,30.413513,-88.08269,-52.695540,-27.692442,4.872923,198.348000,-30.075249,-3.803569,-135.810610,-161.84137,-78.512180,-94.42894,898.436927,-70.140520,78.420360,108.032776,813.770071,-74.790880,12.610422,-183.821840,149.71584,-27.042316,-133.21217,106.420746,-303.939233,48.73079,58.185707,24.250950,-151.22410,-104.282265,-34.492810,-12.587054,2.622891,-120.969920,149.99164,-31.948470,82.314430,-115.830470,-243.30939,6.622036,-132.197660,68.71256,-38.806824,62.937435,-132.65445,89.189026,87.039780,-121.27988,-6.986934,-206.513820,29.485587,-77.029590,-132.38617,-105.427820,70.107360,-155.80257,-101.965943,65.903790,34.457500,62.642094,134.763600,-415.750254,-25.958572,675816-base
1-query,-87.776370,6.806268,-32.054546,-177.26039,120.803330,-83.810590,-94.572749,-78.433090,124.915900,140.331070,-177.60580,-84.995514,42.810810,-57.256332,96.792534,-19.261467,0.739535,50.619213,-155.26703,-78.659430,-92.76149,353.157741,-34.744545,82.487110,-28.450592,813.770071,-137.529630,26.595627,-136.783450,153.35791,48.810093,-115.92215,87.464220,-222.286354,25.12415,91.887140,-30.636870,-136.59314,-140.500120,-43.449757,-7.226884,8.265747,-117.915470,149.15090,-18.751057,95.315384,-60.093273,-83.82058,37.449867,-23.298859,74.06108,-7.139753,75.862400,-112.04511,82.857730,54.067215,-134.00539,-26.142574,-214.632110,-457.848461,21.459618,-137.41136,-40.812233,4.669178,-151.69771,-1.638704,68.170876,25.096191,89.974976,130.589630,-1035.092211,-51.276833,366656-base
2-query,-49.979565,3.841486,-116.118590,-180.40198,190.128430,-50.837620,26.943937,-30.447489,125.771164,211.607820,-86.34656,-35.666546,16.395317,-80.802850,137.908650,-23.532760,-47.256584,-16.650242,-194.50568,-78.372925,-69.32448,1507.231274,-52.500970,-34.165775,52.958652,813.770071,-18.021725,20.951107,-50.321780,158.76062,0.178065,-183.06967,99.053570,-1018.469545,-51.80112,97.766770,-10.865850,-144.42316,-133.819490,-78.902300,-17.200352,4.467452,-63.970737,154.63953,-30.211614,48.527400,-122.406640,-112.71362,53.461838,-31.117260,107.84151,16.482935,77.934480,-95.61873,91.460075,63.119510,-126.93925,8.066627,-195.677670,-163.120000,-72.830000,-139.22307,-52.031662,78.039764,-169.14620,82.144186,66.008220,18.400496,212.409730,121.931470,-1074.464888,-22.547178,1447819-base
3-query,-47.810562,9.086598,-115.401695,-121.01136,94.652840,-109.255410,-775.150134,79.186520,124.003100,242.650650,-146.51707,-159.469850,-13.844755,-6.113928,118.939255,-44.585907,9.559358,14.435648,-156.90683,-78.789320,-78.73709,1507.231274,19.957405,34.834290,-8.820732,813.770071,-125.606800,17.584084,-58.452904,141.28180,-54.959310,-136.98854,63.880493,-1018.469545,89.22893,65.919960,-24.078644,-152.33410,-91.199380,-28.225390,-4.767386,0.158236,-129.128660,122.95837,-30.800995,123.623400,-37.540867,-72.13980,71.240990,-168.115590,118.23645,-18.065195,37.255720,-137.69104,87.500770,62.437290,-131.26064,35.692660,-86.038830,-379.339090,-153.465770,-131.19829,-61.567047,44.515266,-145.41675,93.990981,64.131350,106.061920,83.178760,118.277725,-1074.464888,-19.902788,1472602-base
4-query,-79.632126,14.442886,-58.903397,-147.05254,57.127068,-16.239529,-321.317964,45.984676,125.941284,103.392670,-107.15302,-8.800034,-50.977800,29.457338,143.389310,5.614824,-45.274760,9.643625,-77.55463,-79.066610,-77.92646,1507.231274,16.612400,116.284290,33.754898,813.770071,-105.765335,6.523008,-19.812988,157.69392,-20.604088,-146.59128,78.849570,-780.449185,87.56077,73.036660,16.891030,-144.65790,-116.122150,-19.353254,-7.709266,-5.394988,-140.252120,193.18497,-53.147078,79.869446,-151.131350,-45.05616,79.796234,46.763016,47.68181,-24.104229,75.142590,-207.34506,93.436935,51.505203,-135.47598,99.803660,-49.158073,-203.212852,-127.747860,-103.34170,-68.770600,45.028910,-196.09207,-117.626337,66.926220,42.456170,77.621765,92.479930,-1074.464888,-21.149351,717819-base

<class 'pandas.core.frame.DataFrame'>
Index: 100000 entries, 0-query to 99999-query
Data columns (total 73 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   0       100000 non-null  float64
 1   1       100000 non-null  float64
 2   2       100000 non-null  float64
 3   3       100000 non-null  float64
 4   4       100000 non-null  float64
 5   5       100000 non-null  float64
 6   6       100000 non-null  float64
 7   7       100000 non-null  float64
 8   8       100000 non-null  float64
 9   9       100000 non-null  float64
 10  10      100000 non-null  float64
 11  11      100000 non-null  float64
 12  12      100000 non-null  float64
 13  13      100000 non-null  float64
 14  14      100000 non-null  float64
 15  15      100000 non-null  float64
 16  16      100000 non-null  float64
 17  17      100000 non-null  float64
 18  18      100000 non-null  float64
 19  19      100000 non-null  float64
 20  20      100000 non-null  float64
 21  21      100000 non-null  float64
 22  22      100000 non-null  float64
 23  23      100000 non-null  float64
 24  24      100000 non-null  float64
 25  25      100000 non-null  float64
 26  26      100000 non-null  float64
 27  27      100000 non-null  float64
 28  28      100000 non-null  float64
 29  29      100000 non-null  float64
 30  30      100000 non-null  float64
 31  31      100000 non-null  float64
 32  32      100000 non-null  float64
 33  33      100000 non-null  float64
 34  34      100000 non-null  float64
 35  35      100000 non-null  float64
 36  36      100000 non-null  float64
 37  37      100000 non-null  float64
 38  38      100000 non-null  float64
 39  39      100000 non-null  float64
 40  40      100000 non-null  float64
 41  41      100000 non-null  float64
 42  42      100000 non-null  float64
 43  43      100000 non-null  float64
 44  44      100000 non-null  float64
 45  45      100000 non-null  float64
 46  46      100000 non-null  float64
 47  47      100000 non-null  float64
 48  48      100000 non-null  float64
 49  49      100000 non-null  float64
 50  50      100000 non-null  float64
 51  51      100000 non-null  float64
 52  52      100000 non-null  float64
 53  53      100000 non-null  float64
 54  54      100000 non-null  float64
 55  55      100000 non-null  float64
 56  56      100000 non-null  float64
 57  57      100000 non-null  float64
 58  58      100000 non-null  float64
 59  59      100000 non-null  float64
 60  60      100000 non-null  float64
 61  61      100000 non-null  float64
 62  62      100000 non-null  float64
 63  63      100000 non-null  float64
 64  64      100000 non-null  float64
 65  65      100000 non-null  float64
 66  66      100000 non-null  float64
 67  67      100000 non-null  float64
 68  68      100000 non-null  float64
 69  69      100000 non-null  float64
 70  70      100000 non-null  float64
 71  71      100000 non-null  float64
 72  Target  100000 non-null  object
dtypes: float64(72), object(1)
memory usage: 56.5+ MB

100000 Ð·Ð½Ð°Ñ‡ÐµÐ½Ð¸Ð¹ Ñ„Ð¾Ñ€Ð¼Ð°Ñ‚Ð° float Ð¸ Ñ†ÐµÐ»ÐµÐ²Ð¾Ð¹ Ð¿Ñ€Ð¸Ð·Ð½Ð°Ðº, Ð¿Ñ€Ð¾Ð¿ÑƒÑÐºÐ¾Ð² Ñ‚Ð°ÐºÐ¶Ðµ Ð½ÐµÑ‚.

**- validation:**

In [46]:
look_on(validation)

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,42,43,44,45,46,47,48,49,50,51,52,53,54,55,56,57,58,59,60,61,62,63,64,65,66,67,68,69,70,71
Id,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
100000-query,-57.372734,3.597752,-13.213642,-125.92679,110.74594,-81.279594,-461.003172,139.815720,112.880980,75.215750,-131.89280,-140.968570,-57.987164,-22.868887,150.89552,7.965574,17.622066,-34.868217,-216.13855,-80.908730,-52.579520,263.363136,56.266876,66.924710,21.609911,813.770071,-32.782940,20.794031,-79.779076,156.30708,-42.831330,-71.723335,83.283660,-304.174382,1.609402,55.834587,-29.474255,-139.16277,-126.038350,-62.643830,-5.012346,11.984920,-43.084946,190.124000,-24.996636,76.153900,-245.26157,-143.65648,-4.259628,-46.664196,-27.085403,-34.346962,75.530106,-47.171707,92.697320,60.475630,-127.48687,-39.484753,-124.384575,-307.949760,45.506813,-144.19095,-75.51302,52.830902,-143.43945,59.051935,69.28224,61.927513,111.59253,115.140656,-1099.130485,-117.079360
100001-query,-53.758705,12.790300,-43.268543,-134.41762,114.44991,-90.520130,-759.626065,63.995087,127.117905,53.128998,-153.71725,-63.951330,-52.369495,-33.390945,148.61950,-22.483830,15.164185,-56.202000,-153.61438,-79.831825,-101.055480,1203.537156,81.597130,101.018654,56.783424,92.209628,-126.860340,10.382887,-38.523360,165.38391,-77.840485,-169.538680,103.483240,-915.735701,16.109938,14.669937,-38.707085,-149.53838,-138.792920,-36.076176,-2.781422,2.283144,-142.477890,189.953950,-18.408230,90.517050,-95.53100,-259.63605,52.437836,-30.004599,14.502060,-1.071201,66.842670,-161.279890,94.794174,50.419983,-125.07526,-25.169033,-176.176880,-655.836897,-99.238370,-141.53522,-79.44183,29.185436,-168.60590,-82.872443,70.76560,-65.975950,97.07716,123.391640,-744.442332,-25.009320
100002-query,-64.175095,-3.980927,-7.679249,-170.16093,96.44616,-62.377740,-759.626065,87.477554,131.270110,168.920320,-220.30954,-31.378445,-8.788761,2.285323,133.26611,-41.309080,14.305538,-18.231812,-205.53370,-78.160310,-96.607670,1507.231274,-5.964200,34.937443,-56.086887,813.770071,-13.200474,18.966661,-35.110190,151.36850,-17.490252,-145.884300,15.533379,-655.395514,39.412827,62.554955,9.924992,-143.93462,-123.107796,-37.032475,-13.501337,12.913328,-116.038020,176.276150,-45.909942,103.491360,-90.65699,-162.61570,117.128235,13.079479,69.826890,-6.874451,63.707214,-123.851070,91.610820,59.760067,-129.56618,-12.822194,-154.197650,-407.199067,5.522629,-126.81297,-134.79541,37.368730,-159.66231,-119.232725,67.71044,86.002060,137.63641,141.081630,-294.052271,-70.969604
100003-query,-99.286860,16.123936,9.837166,-148.06044,83.69708,-133.729720,58.576403,-19.046660,115.042404,75.206730,-114.27196,-71.406456,-65.349320,24.377070,50.46730,-14.721335,15.069309,-46.682995,-176.60437,-78.690700,-139.227450,325.547112,3.632292,74.929504,-4.802103,813.770071,-52.982597,15.644381,-54.087467,151.30914,21.088570,-134.507890,65.118960,-529.295053,131.565520,67.642700,-22.884491,-145.90652,-86.917330,-11.863579,-22.188885,0.463720,-212.533750,170.522580,-48.092532,99.712555,-194.69241,-141.52318,60.217050,73.386380,118.567856,58.900810,55.569030,-181.091660,83.340485,66.083240,-114.04887,-57.156870,-56.335075,-318.680065,-15.984783,-128.10133,-77.23611,44.100494,-132.53012,-106.318982,70.88396,23.577892,133.18396,143.252940,-799.363667,-89.392670
100004-query,-79.532920,-0.364173,-16.027431,-170.88495,165.45392,-28.291668,33.931936,34.411217,128.903980,102.086914,-76.21417,-26.393860,34.423640,50.938890,157.68318,-23.786497,-33.175415,-0.592607,-193.31854,-79.651030,-91.889786,1358.481072,44.027733,121.527210,46.183000,433.623103,-82.233200,21.068508,-32.940117,149.26895,0.404718,-97.674530,81.719990,-825.644804,9.397169,49.359340,17.725466,-160.16815,-129.367950,-55.532898,-2.597821,-0.226103,-41.369140,92.090195,-58.626857,73.655440,-10.25737,-175.65678,25.395056,47.874825,51.464676,140.951680,58.751133,-215.487640,91.255370,44.165030,-135.29533,-19.508160,-106.674866,-127.978884,-11.433113,-135.57036,-123.77025,45.635944,-134.25893,13.735359,70.61763,15.332115,154.56812,101.700640,-1171.892332,-125.307890

<class 'pandas.core.frame.DataFrame'>
Index: 100000 entries, 100000-query to 199999-query
Data columns (total 72 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   0       100000 non-null  float64
 1   1       100000 non-null  float64
 2   2       100000 non-null  float64
 3   3       100000 non-null  float64
 4   4       100000 non-null  float64
 5   5       100000 non-null  float64
 6   6       100000 non-null  float64
 7   7       100000 non-null  float64
 8   8       100000 non-null  float64
 9   9       100000 non-null  float64
 10  10      100000 non-null  float64
 11  11      100000 non-null  float64
 12  12      100000 non-null  float64
 13  13      100000 non-null  float64
 14  14      100000 non-null  float64
 15  15      100000 non-null  float64
 16  16      100000 non-null  float64
 17  17      100000 non-null  float64
 18  18      100000 non-null  float64
 19  19      100000 non-null  float64
 20  20      100000 non-null  float64
 21  21      100000 non-null  float64
 22  22      100000 non-null  float64
 23  23      100000 non-null  float64
 24  24      100000 non-null  float64
 25  25      100000 non-null  float64
 26  26      100000 non-null  float64
 27  27      100000 non-null  float64
 28  28      100000 non-null  float64
 29  29      100000 non-null  float64
 30  30      100000 non-null  float64
 31  31      100000 non-null  float64
 32  32      100000 non-null  float64
 33  33      100000 non-null  float64
 34  34      100000 non-null  float64
 35  35      100000 non-null  float64
 36  36      100000 non-null  float64
 37  37      100000 non-null  float64
 38  38      100000 non-null  float64
 39  39      100000 non-null  float64
 40  40      100000 non-null  float64
 41  41      100000 non-null  float64
 42  42      100000 non-null  float64
 43  43      100000 non-null  float64
 44  44      100000 non-null  float64
 45  45      100000 non-null  float64
 46  46      100000 non-null  float64
 47  47      100000 non-null  float64
 48  48      100000 non-null  float64
 49  49      100000 non-null  float64
 50  50      100000 non-null  float64
 51  51      100000 non-null  float64
 52  52      100000 non-null  float64
 53  53      100000 non-null  float64
 54  54      100000 non-null  float64
 55  55      100000 non-null  float64
 56  56      100000 non-null  float64
 57  57      100000 non-null  float64
 58  58      100000 non-null  float64
 59  59      100000 non-null  float64
 60  60      100000 non-null  float64
 61  61      100000 non-null  float64
 62  62      100000 non-null  float64
 63  63      100000 non-null  float64
 64  64      100000 non-null  float64
 65  65      100000 non-null  float64
 66  66      100000 non-null  float64
 67  67      100000 non-null  float64
 68  68      100000 non-null  float64
 69  69      100000 non-null  float64
 70  70      100000 non-null  float64
 71  71      100000 non-null  float64
dtypes: float64(72)
memory usage: 55.7+ MB

100 Ñ‚Ñ‹Ñ. Ð·Ð½Ð°Ñ‡ÐµÐ½Ð¸Ð¹, Ñ„Ð¾Ñ€Ð¼Ð°Ñ‚ Ð½Ðµ Ð¾Ñ‚Ð»Ð¸Ñ‡Ð°ÐµÑ‚ÑÑ Ð¾Ñ‚ Ð¿Ñ€ÐµÐ´Ñ‹Ð´ÑƒÑ‰Ð¸Ñ…, Ð¿Ñ€Ð¾Ð¿ÑƒÑÐºÐ¸ Ð¾Ñ‚ÑÑƒÑ‚ÑÑ‚Ð²ÑƒÑŽÑ‚.

**- validation_answer:**

In [47]:
look_on(validation_answer)

                  Expected
Id
100000-query  2676668-base
100001-query    91606-base
100002-query   472256-base
100003-query  3168654-base
100004-query    75484-base

<class 'pandas.core.frame.DataFrame'>
Index: 100000 entries, 100000-query to 199999-query
Data columns (total 1 columns):
 #   Column    Non-Null Count   Dtype
---  ------    --------------   -----
 0   Expected  100000 non-null  object
dtypes: object(1)
memory usage: 1.5+ MB

Ð—Ð´ÐµÑÑŒ Ñ‚Ð¾Ð»ÑŒÐºÐ¾ Ñ‚Ð°Ñ€Ð³ÐµÑ‚, Ñ„Ð¾Ñ€Ð¼Ð°Ñ‚ ÐºÐ¾Ñ€Ñ€ÐµÐºÑ‚Ð½Ñ‹Ð¹, Ð¿Ñ€Ð¾Ð¿ÑƒÑÐºÐ¾Ð² Ð½ÐµÑ‚, Ñ‡Ñ‚Ð¾ Ð¾Ð¶Ð¸Ð´Ð°ÐµÐ¼Ð¾.

### Ð’Ñ‹Ð²Ð¾Ð´:

Ð—Ð°Ð³Ñ€ÑƒÐ¶ÐµÐ½Ð½Ñ‹Ðµ Ð´Ð°Ð½Ð½Ñ‹Ðµ ÑÐ¾Ð¾Ñ‚Ð²ÐµÑ‚ÑÑ‚Ð²ÑƒÑŽÑ‚ Ð¾Ð¿Ð¸ÑÐ°Ð½Ð¸ÑŽ, Ð¾Ð´Ð½Ð°ÐºÐ¾ ÑÐ¼ÑƒÑ‰Ð°ÐµÑ‚ Ñ„Ð¾Ñ€Ð¼Ð°Ñ‚ double Ð¸ float64, Ð·Ð°Ð¹Ð¼ÐµÐ¼ÑÑ Ð¾Ð¿Ñ‚Ð¸Ð¼Ð¸Ð·Ð°Ñ†Ð¸ÐµÐ¹ Ð½Ð° ÑÐ»ÐµÐ´ÑƒÑŽÑ‰ÐµÐ¼ ÑˆÐ°Ð³Ðµ.

## ÐŸÑ€ÐµÐ´Ð¾Ð±Ñ€Ð°Ð±Ð¾Ñ‚ÐºÐ° Ð´Ð°Ð½Ð½Ñ‹Ñ…

### Ð¤Ð¾Ñ€Ð¼Ð°Ñ‚Ñ‹

Ð¤Ð¾Ñ€Ð¼Ð°Ñ‚ double, Ð¾Ð½ Ð¶Ðµ float64 Ð´Ð¾ÑÑ‚Ð°Ñ‚Ð¾Ñ‡Ð½Ð¾ Ñ‚ÑÐ¶ÐµÐ»Ð¾Ð²ÐµÑÐ½Ñ‹Ð¹, Ñ‚Ñ€Ð°Ð½ÑÑ„Ð¾Ñ€Ð¼Ð¸Ñ€ÑƒÐµÐ¼ ÐµÐ³Ð¾ Ð´Ð»Ñ Ð½Ð°Ñ‡Ð°Ð»Ð° Ð² float32. Float16 Ð½Ðµ Ð¿Ð¾Ð´Ð´ÐµÑ€Ð¶Ð¸Ð²Ð°ÐµÑ‚ÑÑ Spark Ð½Ð°Ñ‚Ð¸Ð²Ð½Ð¾, Ð¿Ð¾ÑÑ‚Ð¾Ð¼Ñƒ Ð¿ÐµÑ€ÐµÐ´ Ð¾Ð±ÑƒÑ‡ÐµÐ½Ð¸ÐµÐ¼ Ð¼Ð¾Ð´ÐµÐ»Ð¸ Ð¸Ð·Ð¼ÐµÐ½Ð¸Ð¼ Ñ„Ð¾Ñ€Ð¼Ð°Ñ‚ Ð½Ð° Ð±Ð¾Ð»ÐµÐµ Ð¿Ð¾Ð´Ñ…Ð¾Ð´ÑÑ‰Ð¸Ð¹.

In [ ]:
base_spark = double_to_float(base_spark)

In [50]:
train = optimize_memory_usage(train)

Ð Ð°Ð·Ð¼ÐµÑ€ Ð¸ÑÐ¿Ð¾Ð»ÑŒÐ·Ð¾Ð²Ð°Ð½Ð¸Ñ Ð¿Ð°Ð¼ÑÑ‚Ð¸: Ð´Ð¾ 28.99 Mb - Ð¿Ð¾ÑÐ»Ðµ 28.99 Mb (0.0%)

In [51]:
validation = optimize_memory_usage(validation)

Ð Ð°Ð·Ð¼ÐµÑ€ Ð¸ÑÐ¿Ð¾Ð»ÑŒÐ·Ð¾Ð²Ð°Ð½Ð¸Ñ Ð¿Ð°Ð¼ÑÑ‚Ð¸: Ð´Ð¾ 55.69 Mb - Ð¿Ð¾ÑÐ»Ðµ 28.23 Mb (49.3%)

ÐŸÐ°Ð¼ÑÑ‚ÑŒ Ð¾Ð¿Ñ‚Ð¸Ð¼Ð¸Ð·Ð¸Ñ€Ð¾Ð²Ð°Ð»Ð¸, Ñ‚ÐµÐ¿ÐµÑ€ÑŒ Ð¿Ð¾ÑÐ¼Ð¾Ñ‚Ñ€Ð¸Ð¼ Ð½Ð° Ñ€Ð°ÑÐ¿Ñ€ÐµÐ´ÐµÐ»ÐµÐ½Ð¸Ñ.

### Ð Ð°ÑÐ¿Ñ€ÐµÐ´ÐµÐ»ÐµÐ½Ð¸Ñ

## EDA

ÐÐµÑÐ¼Ð¾Ñ‚Ñ€Ñ Ð½Ð° Ñ‚Ð¾, Ñ‡Ñ‚Ð¾ Ð´Ð°Ð½Ð½Ñ‹Ðµ Ð¾Ð±ÐµÐ·Ð»Ð¸Ñ‡ÐµÐ½Ñ‹, EDA Ð·Ð´ÐµÑÑŒ Ñ‚Ð°ÐºÐ¶Ðµ Ð±ÑƒÐ´ÐµÑ‚ Ð¿Ð¾Ð»ÐµÐ·ÐµÐ½: Ð²ÑÐµ Ð»Ð¸ ÑÑ‚Ð¾Ð»Ð±Ñ†Ñ‹ Ð¸Ð¼ÐµÑŽÑ‚ Ð¾Ð´Ð¸Ð½Ð°ÐºÐ¾Ð²Ð¾Ðµ Ñ€Ð°ÑÐ¿Ñ€ÐµÐ´ÐµÐ»ÐµÐ½Ð¸Ðµ Ð·Ð½Ð°Ñ‡ÐµÐ½Ð¸Ð¹? Ð•ÑÑ‚ÑŒ Ð»Ð¸ ÑÑ‚Ð¾Ð»Ð±Ñ†Ñ‹, ÐºÐ¾Ñ‚Ð¾Ñ€Ñ‹Ðµ Ð´Ð»Ñ Ð¼Ð¾Ð´ÐµÐ»Ð¸ Ð±Ñ‹Ð»Ð¸ Ð±Ñ‹ Ð¼Ð°Ð»Ð¾ Ð¿Ð¾Ð»ÐµÐ·Ð½Ñ‹? Ð•ÑÑ‚ÑŒ Ð»Ð¸ ÑÐ¸Ð»ÑŒÐ½Ð¾ ÑÐºÐ¾Ñ€Ñ€ÐµÐ»Ð¸Ñ€Ð¾Ð²Ð°Ð½Ð½Ñ‹Ðµ Ð´Ñ€ÑƒÐ³ Ñ Ð´Ñ€ÑƒÐ³Ð¾Ð¼ ÑÑ‚Ð¾Ð»Ð±Ñ†Ñ‹? ÐœÐ¾Ð¶ÐµÑ‚ Ð±Ñ‹Ñ‚ÑŒ, ÐµÑÑ‚ÑŒ ÑÐ¼Ñ‹ÑÐ» Ð½Ð° Ð¿ÐµÑ€Ð²Ð¾Ð¼ ÑÑ‚Ð°Ð¿Ðµ Ð¿Ð¾Ð´Ð°Ð²Ð°Ñ‚ÑŒ Ð² Ð¼Ð¾Ð´ÐµÐ»ÑŒ Ð½Ðµ Ð²ÑÐµ Ñ„Ð¸Ñ‡Ð¸, Ð° Ð½Ð°Ð¸Ð±Ð¾Ð»ÐµÐµ Ð¸Ð½Ñ„Ð¾Ñ€Ð¼Ð°Ñ‚Ð¸Ð²Ð½Ñ‹Ðµ? Ð•ÑÑ‚ÑŒ Ð»Ð¸ Ð¿Ñ€Ð¾Ð¿ÑƒÑÐºÐ¸? Ð¯Ð²Ð½Ñ‹Ðµ Ð´ÑƒÐ±Ð»Ð¸ÐºÐ°Ñ‚Ñ‹? Ð•ÑÐ»Ð¸ ÐµÑÑ‚ÑŒ - Ñ‡Ñ‚Ð¾ Ñ Ð½Ð¸Ð¼Ð¸ Ð´ÐµÐ»Ð°Ñ‚ÑŒ? Ð•ÑÑ‚ÑŒ Ð»Ð¸ Ð°Ð½Ð¾Ð¼Ð°Ð»Ð¸Ð¸ Ð² Ñ€Ð°ÑÐ¿Ñ€ÐµÐ´ÐµÐ»ÐµÐ½Ð¸ÑÑ…? Ð¡Ð»ÐµÐ´ÑƒÑŽÑ‰Ð¸Ð¹ Ð²Ð°Ð¶Ð½Ñ‹Ð¹ Ð²Ð¾Ð¿Ñ€Ð¾Ñ - Ð½Ðµ Ñ‚Ñ€ÐµÐ±ÑƒÐµÑ‚ÑÑ Ð»Ð¸ Ð¼Ð°ÑÑˆÑ‚Ð°Ð±Ð¸Ñ€Ð¾Ð²Ð°Ð½Ð¸Ðµ Ð´Ð°Ð½Ð½Ñ‹Ñ…? ÐžÑ‚Ð²ÐµÑ‚Ð¸Ñ‚ÑŒ Ð½Ð° ÑÑ‚Ð¾Ñ‚ Ð²Ð¾Ð¿Ñ€Ð¾Ñ Ð¼Ð¾Ð¶Ð½Ð¾, Ð½Ð°Ð¿Ñ€Ð¸Ð¼ÐµÑ€, Ð·Ð°Ð¼ÐµÑ€Ð¸Ð² Ð¼ÐµÑ‚Ñ€Ð¸ÐºÑƒ Ñ Ð¼Ð°ÑÑˆÑ‚Ð°Ð±Ð¸Ñ€Ð¾Ð²Ð°Ð½Ð¸ÐµÐ¼ Ð¸ Ð±ÐµÐ· Ð¼Ð°ÑÑˆÑ‚Ð°Ð±Ð¸Ñ€Ð¾Ð²Ð°Ð½Ð¸Ñ Ð¿Ñ€Ð¸Ð·Ð½Ð°ÐºÐ¾Ð².

## Ð¦ÐµÐ»ÐµÐ²Ð°Ñ Ð¼ÐµÑ‚Ñ€Ð¸ÐºÐ°

ÐÐ°ÑˆÐ° Ñ†ÐµÐ»ÐµÐ²Ð°Ñ Ð¼ÐµÑ‚Ñ€Ð¸ÐºÐ° - accuracy@n. Ð¡Ð¾Ð±ÑÑ‚Ð²ÐµÐ½Ð½Ð¾, Ñ‡Ñ‚Ð¾ ÑÑ‚Ð¾ Ñ‚Ð°ÐºÐ¾Ðµ. Ð’ÑÐ¿Ð¾Ð¼Ð½Ð¸Ð¼, Ñ‡Ñ‚Ð¾ 

$$
Accuracy = \frac{Correct\ predictions}{All\ predictions}
$$

ÐŸÑ€ÐµÐ´ÑÑ‚Ð°Ð²Ð¸Ð¼ Ñ€Ð°ÑÑ‡ÐµÑ‚ Ð¼ÐµÑ‚Ñ€Ð¸ÐºÐ¸ Ð² Ñ†Ð¸ÐºÐ»Ðµ, Ð¿ÐµÑ€ÐµÐ±Ð¸Ñ€Ð°Ñ Ð²ÑÐµ Ð¿Ñ€ÐµÐ´Ð»Ð¾Ð¶ÐµÐ½Ð½Ñ‹Ðµ Ð¼Ð¾Ð´ÐµÐ»ÑŒÑŽ Ð¾Ñ‚Ð²ÐµÑ‚Ñ‹. ÐŸÑ€Ð¸ ÑÑ‚Ð¾Ð¼ ÐºÐ°Ð¶Ð´Ð¾Ðµ Ð¿Ñ€ÐµÐ´ÑÐºÐ°Ð·Ð°Ð½Ð¸Ðµ ÑÐ¾Ð´ÐµÑ€Ð¶Ð¸Ñ‚ Ð² ÑÐµÐ±Ðµ Ð½Ðµ 1 Ð¾Ñ‚Ð²ÐµÑ‚, Ð° ÑÑ€Ð°Ð·Ñƒ n, Ð¸ ÐµÑÐ»Ð¸ ÑÑ€ÐµÐ´Ð¸ Ð¿Ñ€ÐµÐ´Ð»Ð¾Ð¶ÐµÐ½Ð½Ñ‹Ñ… Ð²Ð°Ñ€Ð¸Ð°Ð½Ñ‚Ð¾Ð² Ð¾ÐºÐ°Ð¶ÐµÑ‚ÑÑ Ð¿Ñ€Ð°Ð²Ð¸Ð»ÑŒÐ½Ñ‹Ð¹ - Ñ‡Ð¸ÑÐ»Ð¸Ñ‚ÐµÐ»ÑŒ Ð¸ Ð·Ð½Ð°Ð¼ÐµÐ½Ð°Ñ‚ÐµÐ»ÑŒ ÑƒÐ²ÐµÐ»Ð¸Ñ‡Ð¸Ð²Ð°ÑŽÑ‚ÑÑ Ð½Ð° 1. Ð ÐµÑÐ»Ð¸ Ð½ÐµÑ‚ Ð½Ð¸ Ð¾Ð´Ð½Ð¾Ð³Ð¾ - Ñ‚Ð¾ Ð½Ð° 1 ÑƒÐ²ÐµÐ»Ð¸Ñ‡Ð¸Ð²Ð°ÐµÑ‚ÑÑ Ñ‚Ð¾Ð»ÑŒÐºÐ¾ Ð·Ð½Ð°Ð¼ÐµÐ½Ð°Ñ‚ÐµÐ»ÑŒ. Ð’ Ð½Ð°ÑˆÐµÐ¹ Ð·Ð°Ð´Ð°Ñ‡Ðµ n = 5. Ð¥Ð¾Ñ€Ð¾ÑˆÐ¾ Ð±Ñ‹ Ð´Ð¾Ð±Ð¸Ñ‚ÑŒÑÑ accuracy@5 â‰¥ 0,7. ÐšÑÑ‚Ð°Ñ‚Ð¸, Ð»ÐµÐ³ÐºÐ¾ Ð·Ð°Ð¼ÐµÑ‚Ð¸Ñ‚ÑŒ, Ñ‡Ñ‚Ð¾ accuracy@1 - ÑÑ‚Ð¾ ÑÐ°Ð¼Ð°Ñ Ð¾Ð±Ñ‹Ñ‡Ð½Ð°Ñ accuracy.

## Create FAISS [index](https://github.com/facebookresearch/faiss/wiki/Faiss-indexes) for small dataset


[Guideline](https://github.com/facebookresearch/faiss/wiki/Guidelines-to-choose-an-index)

Hint: Use numpy [ascontigiousarray](https://numpy.org/doc/stable/reference/generated/numpy.ascontiguousarray.html) - object which is stored in one [unbroken block](https://www.educative.io/answers/what-is-the-numpyascontiguousarray-function-in-python) in memory -  to load vectors in FAISS

In [ ]:
dims = base.shape[1]
n_cells = 20
quantizer = faiss.IndexFlatL2(dims)
idx_l2 = faiss.IndexIVFFlat(quantizer, dims, n_cells)

In [ ]:
%%time
idx_l2.train(np.ascontiguousarray(base.values).astype('float32'))
idx_l2.add(np.ascontiguousarray(base.values).astype('float32'))

In [ ]:
base_index = {k: v for k, v in enumerate(base.index.to_list())}

## ðŸ” Search

In [ ]:
targets = train["Target"]
train.drop("Target", axis=1, inplace=True)

In [ ]:
%%time
candidate_number = 5
r, idx = idx_l2.search(np.ascontiguousarray(train.values).astype('float32'), candidate_number)

## ðŸ“ˆ Accuracy@candidate_number calculation

In [ ]:
acc = 0
for target, el in zip(targets.values.tolist(), idx.tolist()):
    acc += int(target in [base_index[r] for r in el])
print(f'Accuracy @ {candidate_number} = {acc / len(idx):.1%}')

In [ ]:
## â“â“â“ What's next?

For full dataset it is strongly recommended to test your code on the small batch before loading all dataset to FAISS

You can make your own research:
- change number of cells
- change number of candidates
- change indexes
- add another ML models to improve the FAISS result
- change the accelerator: Hint: Search method on GPU differs a bit from the similar method on CPU
-.....

Remember, that in Colab you have only 12 GB of RAM, so remove variables and objects if necessary

**Good Luck!**

In [ ]:
# FAISS
# Annoy
# Qdrant